<div class="cover">
<header>
  <nav class="mobile-nav show-on-mobiles">
    {% include primary-nav-items.html %}
  </nav>
  <div class="grid">
    <div style="margin-top: 25px; text-align: center">
      <img class="logo" src="{{ site.baseurl }}/img/apbslogo.png">
    </div>
    <nav class="main-nav unit hide-on-mobiles">
      {% include primary-nav-items.html %}
    </nav>
  </div>
</header>


<!--- include smooth scrolling --->

<!-- HTML5 Shim for IE -->
<!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Javascript -->
<script src='/js/bind-polyfill.js'></script>
<script src='/js/smooth-scroll.js'></script>
<script>
	smoothScroll.init({
		speed: 1000,
		easing: 'easeInOutCubic',
		offset: 0,
		updateURL: true,
		callbackBefore: function ( toggle, anchor ) {},
		callbackAfter: function ( toggle, anchor ) {}
	});
</script>

