<div class="unit one-fifth hide-on-mobiles">
  <aside>
    <ul>
      <li class="{% if page.title == 'News' %}current{% endif %}">
        <a href="{{ site.baseurl }}/news/">All Recent News</a>
      </li>
    </ul>

    <h4>Recent Releases</h4>
    <ul>
      {% for post in site.posts limit:5 %}
      <li class="{% if page.title == post.title %}current{% endif %}">
        <a href="{{ post.url }}">Version {{ post.version }}</a>
      </li>
      {% endfor %}
<!-- 
      <li>
        <a href="{{ site.baseurl }}/docs/history/">History »</a>
      </li>
 -->
	<li>
        <h4>All Releases</h4>
	<li><a href="{{site.baseurl}}/news/comp_pdb2pqr_release_history/">PDB2PQR Release History</a></li>
	<li><a href="{{site.baseurl}}/news/APBS_releasehistory/">APBS Release History</a></li>
	<li><a href="{{site.baseurl}}/news/Version_1.9_(2014-03)/">PDB2PQR Version 1.9 (2014-03)</a></li>
	<li><a href="{{site.baseurl}}/news/apbs_Version_1.4.0_(2012-07)/">APBS Version 1.4.0 (2012-07)</a></li>
	<li><a href="{{site.baseurl}}/news/Version_1.8_(2012-01)/">PDB2PQR Version 1.8 (2012-01)</a></li>
	<li><a href="{{site.baseurl}}/news/Version_1.7.1a_(2011-09-13)/">PDB2PQR Version 1.7.1a (2011-09-13)</a></li>
	<li><a href="{{site.baseurl}}/news/Version_1.7.1_(2011-08)/">PDB2PQR Version_1.7.1_(2011-08)</a></li>
	<li><a href="{{site.baseurl}}/news/apbs_Version_1.3_(2010-10)/">APBS Version 1.3 (2010-10)</a></li>
	<li><a href="{{site.baseurl}}/news/Version_1.7_(2010-10)/">PDB2PQR Version 1.7 (2010-10)</a></li>
	<li><a href="{{site.baseurl}}/news/Version_1.6_(2010-04)/">PDB2PQR Version_1.6_(2010-04)</a></li>
	<li><a href="{{site.baseurl}}/news/apbs_Version_1.2.1_(2009-12)/">APBS Version 1.2.1 (2009-12)</a></li>
	<li><a href="{{site.baseurl}}/news/apbs_Version_1.2.0_(2009-10)/">APBS Version 1.2.0 (2009-10)</a></li>
	<li><a href="{{site.baseurl}}/news/Version_1.5_(2009-10)/">PDB2PQR Version 1.5 (2009-10)</a></li>
	<li><a href="{{site.baseurl}}/news/apbs_Version_1.1.0_(2009-03)/">APBS Version 1.1.0 (2009-03)</a></li>
	<li><a href="{{site.baseurl}}/news/Version_1.4.0_(2009-03)/">PDB2PQR Version 1.4.0 (2009-03)</a></li>
	<li><a href="{{site.baseurl}}/news/apbs_Version_1.0.0_(2008-04)/">APBS Version 1.0.0 (2008-04)</a></li>
	<li><a href="{{site.baseurl}}/news/Version_1.3.0_(2008-01)/">PDB2PQR Version 1.3.0 (2008-01)</a></li>
	<li><a href="{{site.baseurl}}/news/apbs_Version_0.5.1_(2007-07)/">APBS Version 0.5.1 (2007-07)</a></li>
	<li><a href="{{site.baseurl}}/news/Version_1.2.1_(2007-04)/">PDB2PQR Version 1.2.1 (2007-04)</a></li>
	<li><a href="{{site.baseurl}}/news/apbs_Version_0.5.0_(2007-01)/">APBS Version 0.5.0 (2007-01)</a></li>
	<li><a href="{{site.baseurl}}/news/Version_1.2.0_(2007-01)/">PDB2PQR Version 1.2.0 (2007-01)</a></li>
	<li><a href="{{site.baseurl}}/news/Version_1.1.2_(2006-06)/">PDB2PQR Version 1.1.2 (2006-06)</a></li>
	<li><a href="{{site.baseurl}}/news/Version_1.1.1_(2006-05)/">PDB2PQR Version 1.1.1 (2006-05)</a></li>
	<li><a href="{{site.baseurl}}/news/Version_1.1.0_(2006-04)/">PDB2PQR Version 1.1.0 (2006-04)</a></li>
	<li><a href="{{site.baseurl}}/news/apbs_Version 0.4.0 (2005-12)/">APBS Version 0.4.0 (2005-12)</a></li>
	<li><a href="{{site.baseurl}}/news/Version_1.0.2_(2005-12)/">PDB2PQR Version 1.0.2 (2005-12)</a></li>
	<li><a href="{{site.baseurl}}/news/Version_1.0.1_(2005-10)/">PDB2PQR Version 1.0.1 (2005-10)</a></li>
	<li><a href="{{site.baseurl}}/news/Version_1.0.0_(2005-08)/">PDB2PQR Version 1.0.0 (2005-08)</a></li>
	<li><a href="{{site.baseurl}}/news/apbs_Version_0.3.2_(2004-11)/">APBS Version 0.3.2 (2004-11)</a></li>
	<li><a href="{{site.baseurl}}/news/apbs_Version _0.3.1_(2004-04)/">APBS Version 0.3.1 (2004-04)</a></li>
	<li><a href="{{site.baseurl}}/news/apbs_Version_0.3.0_(2004-02)/">APBS Version 0.3.0 (2004-02)</a></li>
	<li><a href="{{site.baseurl}}/news/apbs_Version_0.2.6_(2003-01)/">APBS Version 0.2.6 (2003-01)</a></li>
	<li><a href="{{site.baseurl}}/news/apbs_Version_0.2.5_(2002-11)/">APBS Version 0.2.5 (2002-11)</a></li>
	<li><a href="{{site.baseurl}}/news/apbs_Version_0.2.4_(2002-10)/">APBS Version 0.2.4 (2002-10)</a></li>
	<li><a href="{{site.baseurl}}/news/apbs_Version_0.2.3_(2002-10)/">APBS Version 0.2.3 (2002-10)</a></li>
	<li><a href="{{site.baseurl}}/news/apbs_Version_0.2.2_(2002-08)/">APBS Version 0.2.2 (2002-08)</a></li>
	<li><a href="{{site.baseurl}}/news/apbs_Version_0.2.1_(2002-04)/">APBS Version 0.2.1 (2002-04)</a></li>
	<li><a href="{{site.baseurl}}/news/apbs_Version_0.2.0_(2002-03)/">APBS Version 0.2.0 (2002-03)</a></li>
	<li><a href="{{site.baseurl}}/news/apbs_Version_0.1.8_(2002-01)/">APBS Version 0.1.8 (2002-01)</a></li>
	<li><a href="{{site.baseurl}}/news/apbs_Version_0.1.7_(2001-12)/">APBS Version 0.1.7 (2001-12)</a></li>
	<li><a href="{{site.baseurl}}/news/apbs_Version_0.1.6_(2001-11)/">APBS Version 0.1.6 (2001-11)</a></li>
	<li><a href="{{site.baseurl}}/news/apbs_Version_0.1.5_(2001-10)/">APBS Version 0.1.5 (2001-10)</a></li>
	<li><a href="{{site.baseurl}}/news/apbs_Version_0.1.4_(2001-09)/">APBS Version 0.1.4 (2001-09)</a></li>
	<li><a href="{{site.baseurl}}/news/apbs_Version_0.1.3_(2001-09)/">APBS Version 0.1.3 (2001-09)</a></li>
	<li><a href="{{site.baseurl}}/news/apbs_Version_0.1.2_(2001-09)/">APBS Version 0.1.2 (2001-09)</a></li>
	<li><a href="{{site.baseurl}}/news/apbs_Version_0.1.1_(2001-08)/">APBS Version 0.1.1 (2001-08)</a></li>
	<li><a href="{{site.baseurl}}/news/apbs_Version_0.1.0_(2001-08)/">APBS Version 0.1.0 (2001-08)</a></li>




       </li>

      
    </ul>
  </aside>
</div>
